**/*.o
**/*.cmi
**/*.cmo
**/*.cmx
**/*.cma
**/*.cmxa
**/*.byte
**/*.native
**/*.elf
**/*.pic32_elf
**/*.avr
**/*.hex
**/*.elf.dSYM
**/*.map
**/*.objdump
**/Makefile.nios
**/*~
**/obj/
targets/nios/tests/*/main.c
.build/
.vscode/
node_modules/
config.ml
src/byterun/nios/
targets/nios/docs/
extra-docs/
omicrob/
