**/*.o
**/*.cmi
**/*.cmo
**/*.cmx
**/*.cma
**/*.cmxa
**/*.byte
**/*.native
**/*.elf
**/*.hex
**/*.elf.dSYM
**/*.map
**/*.objdump
**/Makefile.platform
**/*~
**/obj/
platforms/*/*/apps/*/main.c
.build/
.vscode/
etc/config.*
src/byterun/nios/
platforms/*/docs/
extra-docs/
